
:root {
  --primary: #B6C7CE;
  --primary-medium: #628493;
  --secondary: #C16C48;
  --white: #FBFDFE;
  --off-white: #ECDEC2;
  --black: #013045;
  --transparent: rgba(0, 0, 0, 0.0);
  --grey: #C9DBDF;

  --side-bar: rgba(218, 227, 231, 0.9);

  --spacing: 2.25rem;
}

body {
  background: var(--white);
  color: var(--black);
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  transition: .3s;
}

h1, h2, h3, h4, h5, h6, .monospace {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  margin-top: 0;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
  font-weight: normal;
}

h6 {
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
}

a {
  background: rgba(0,0,0,.05);
  color: var(--black);
  font-style: italic;
  text-decoration: none;
}

a:hover {
  color: var(--secondary);
}

.date {
  color: rgba(var(--black), .8);
  font-size: .75rem;
}

.news {
  font-style: italic;
  margin-left: 16px;
}

p {
  margin: 0;
}

p + p {
  margin-top: 1rem;
}

img {
  max-height: 100%;
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  text-align: center;
}

.space {
  margin-top: var(--spacing);
}

.break-line {
  background: var(--primary);
  height: 2px;
  margin: 1rem auto 2rem;
  position: relative;
  width: 100%;
  max-width: 400px;
}

section .break-line {
  margin: 2rem auto;
}

.break-line:before, .break-line:after {
  background: var(--primary);
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: -.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

.break-line:after {
  top: auto;
  bottom: -.75rem;
}

header {
  margin: 0 var(--spacing);
}

header .main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96px;
  margin: 1rem;
}

nav a {
  background: none;
  font-style: normal;
}

.logo {
  color: var(--black);
  display: inline-block;
  margin-left: -4px;
  text-align: center;
  text-decoration: none;
  position: relative;
}
.logo .blinking:after {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -2px;
}

.logo.monospaced {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
}

@keyframes blink {
  0% {background: var(--black); height: 100%; width: 2px;}
  30% {background: var(--black); height: 100%; width: 2px;}
  60% {background: var(--white); height: 100%; width: 2px;}
  100% {background: var(--white); height: 100%; width: 2px;}
}



.side-nav {
  background: var(--transparent);
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
}

.side-nav.expanded {
  left: 200px;
}

.side-nav.expanded.icons {
  background: var(--side-bar);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.side-nav > * {
  box-sizing: border-box;
  display: block;
  margin: 8px 8px 8px 4px;
  padding: 6px 0;
}

.side-nav > *:hover {
  cursor: pointer;
}

.side-nav a, .side-nav button {
  color: var(--black);
  fill: var(--black);
}

.side-nav a:hover, .side-nav button:hover {
  color: var(--secondary);
  fill: var(--secondary);
}

button {
  background-color: rgba(255,255,255,0);
  border: 0;
  border-radius: 4px;
  height: 40px;
  padding: 0;
}

aside#stories-list {
  background: var(--side-bar);
  box-sizing: border-box;
  height: 100vh;
  overflow-X: hidden;
  overflow-Y: auto;
  padding-bottom: 38px;
  position: fixed;
  top: 0;
  width: 200px;
  max-width: 0px;
  z-index: 2;
}

aside#stories-list.expanded {
  max-width: 200px;
}

aside#stories-list > div {
  width: 200px;
}

aside nav {
  width: 100%;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

aside a {
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
}

aside a.active, aside a:hover {
  background: var(--primary-medium);
  color: White;
}

.list-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;
}

article {
  margin: 0 auto;
  max-width: 680px;
}

.nav-title {
  padding-bottom: 8px;
  border-bottom: 2px solid var(--black);
}

section {
  flex-grow: 1;
  padding: 0 var(--spacing);
}

section section {
  margin: 0 calc(var(--spacing) * -1);
  padding: 1rem var(--spacing);
}

section section:nth-child(odd) {
  background: var(--grey);
}

main footer {
  font-size: 12px;
  margin: 1rem var(--spacing);
  opacity: .9;
  text-align: center;
}




.hero {
  background: var(--grey);
  margin-left: calc(var(--spacing) * -1);
  margin-right: calc(var(--spacing) * -1);
}

.hero div {
  box-sizing: border-box;
  padding: var(--spacing);
}

.hero-left {
  background: linear-gradient(180deg, rgba(128, 128, 128, 0.5), rgba(225, 225, 225, 0.5)), url(./assets/images/backing-left.png) no-repeat center / cover;
  height: 100vw;
  max-height: 365px;
  padding: 0;
  width: 100vw;
}

.hero-right > h2, .hero-right > h3 {
  margin: .2rem;
}

.Panel > div {
  margin: var(--spacing) auto;
  max-width: 980px;
}

.Panel .Split {
  display: flex;
  flex-direction: column-reverse;
}

.Panel .Split img {
  max-width: 200px;
}

.Story {
  margin-bottom: var(--spacing);
}

.Story p:first-of-type:first-letter {
  font-size: 4.5rem;
  float: left;
  margin: .4rem .2rem 0 -.2rem;
}

.Story p:not(:first-of-type) {
  text-indent: 2.5rem;
}

@media (min-width: 768px) { 

  .space {
    margin-top: 0;
  }

  .hero {
    display: flex;
    align-items: center;
  }
  
  .hero div {
    display: inline-block;
    flex: 0 0 50%;
    padding: 4.5rem;
  }
  
  .hero-left {
    align-self: stretch;;
  }


  .Panel .Split {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .Panel .Split > div:first-of-type {
    flex: 0 0 70%;
  }

  .Panel .Split > div:last-of-type {
    flex: 0 0 30%;
  }

  .Panel .Split.Flip > div:first-of-type {
    flex: 0 0 30%;
  }
  .Panel .Split.Flip > div:last-of-type {
    flex: 0 0 70%;
  }

  .Panel .Split img {
    max-width: 150px;
  }
}