body {
  background: #FBFDFE;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  transition: .3s;
}

h1, h2, h3, h4, h5, h6, .monospace {
  font-family: 'Roboto Mono', monospace;
  margin-top: 0;
}

a {
  color: #297373;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-wrapper {
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 96px;
}

header .main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  margin: 1rem;
}

a.logo {
  background: White;
  color: #297373;
  display: inline-block;
  margin-left: -4px;
  text-align: center;
  text-decoration: none;
}

.logo.monospaced {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
}

.social-nav {
  position: fixed;
  bottom: 4px;
  right: 8px;
}

.social-nav a {
  fill: #297373
}
.social-nav a:hover {
  fill: #FF7033;
}

button.toggle {
  background-color: #297373;
  border: 0;
  border-radius: 4px;
  color: White;
  padding: .75rem 1rem;
  position: fixed;
  bottom: 0;
  left: -4px;
  z-index: 2;
}

button.toggle:hover {
  background: #FF7033;
}

aside#stories-list {
  background: rgba(237, 244, 242,.95);
  box-sizing: border-box;
  height: 100vh;
  overflow-X: hidden;
  overflow-Y: scroll;
  padding-bottom: 38px;
  position: fixed;
  top: 0;
  width: 200px;
  max-width: 0px;
}

aside#stories-list.expanded {
  max-width: 200px;
}

aside#stories-list > div {
  width: 200px;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

aside a {
  display: block;
  padding: .5rem 1rem;
}

aside a {
  text-decoration: none;
}

aside a:hover {
  background: #297373;
  color: White;
}

main {
  margin: 0 auto;
  max-width: 680px;
}

section {
  flex-grow: 1;
  padding: .5rem 1rem;
}

main footer {
  font-size: 12px;
  margin: 1em;
  opacity: .9;
  text-align: center;
}
